Homework
1. Install Visual Studio Code: https://code.visualstudio.com/download
2. Download and install Terraform:
    2.1 Download Page: https://www.terraform.io/downloads
    2.2 Watch follow along installation video: https://learn.hashicorp.com/tutorials/terraform/install-cli?in=terraform/aws-get-started


Explaining the Provider Block
1. Using environment variables
    1.1 macOS:
        export AWS_ACCESS_KEY_ID=""
        export AWS_SECRET_ACCESS_KEY=""
        export AWS_DEFAULT_REGION=""

    1.2 Windows:
        export AWS_ACCESS_KEY_ID=""
        export AWS_SECRET_ACCESS_KEY=""
        export AWS_DEFAULT_REGION=""

AWS AMI Images Per Region
1. AMS - North Virginia - us-east-1
    ami-052efd3df9dad4825 - t2.micro
    ami-070650c005cce4203 - c6g.medium

2. EMEA - Frankfurt - eu-central-1
    ami-065deacbcaac64cf2 - t2.micro
    ami-07f16fb14274bfc76 - c6g.medium

3. APJ - Singapore - ap-southeast-1
    ami-0c802847a7dd848c0 - t2.micro
    ami-0ba00895a8997fcd0 - c6g.medium

